.note-body-container {
    text-align: left;
    padding: 0 15px;
}

.date-div {
    float: right;
    margin-top: -16px;
    padding-left: 20px;
}

.date-div-no-header {
    float: right;
    padding-left: 20px;
    margin-top: -18px;
}

.note-body-container h2 {
    margin-bottom: -8px;
}

.markdown-text-large p, .markdown-text-large ul, .markdown-text-large ol {
    font-size: large;
}

.markdown-text-medium p, .markdown-text-medium ul, .markdown-text-medium ol {
    font-size: medium;
}

.markdown-text-small p, .markdown-text-small ul, .markdown-text-small ol {
    font-size: small;
}
