.note-body-container {
    text-align: left;
    padding: 0 15px;
}

.date-div {
    float: right;
    margin-top: -16px;
    padding-left: 20px;
}

.date-div-no-header {
    float: right;
    padding-left: 20px;
    margin-top: -18px;
}

.note-body-container h2 {
    margin-bottom: -5px;
}