.box_link_outer {
    width: 200px;
    height: 150px;
    z-index: 0;
}

.box_link_inner {
    position: relative;
    right: 6px;
    bottom: 60px;
    text-align: right;
    color: #f0f0f0;
}

.box_link_id {
    margin: 0;
    font-size: larger;
    font-family: sans-serif;
    z-index: 100;
}

.box_link_title {
    margin: 0;
    font-size: small;
    font-family: sans-serif;
    text-overflow: clip;
    z-index: 100;
}