.box_link_outer {
    /* to be adjusted once scaled */
    width: 150px;
    height: 100px;
    border: solid 1px black;
}

.box_link_inner {
    position: relative;
    right: 0;
    bottom: -50px;
    font-family: sans-serif;
    text-align: right;
    color: black;
}

.box_link_id {
    margin: 0;
    font-size: large;
}

.box_link_title {
    margin: 0;
    font-size: small;
    text-overflow: clip;
}