.box_link_outer {
    /* to be adjusted once scaled */
    width: 150px;
    height: 100px;
    border: solid 2px black;
}

.box_link_inner {
    position: relative;
    right: 6px;
    bottom: -44px;
    font-family: sans-serif;
    text-align: right;
    color: whitesmoke;
}

.box_link_inner:hover {
    color: white;
}

.box_link_id {
    margin: 0;
    font-size: larger;
}

.box_link_title {
    margin: 0;
    font-size: small;
    text-overflow: clip;
}