.fixed-menu-container {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 100;
}

.fixed-menu-container div {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}