.logo_div {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: antiquewhite;
    border: 2px solid #404040;
    margin-top: 1px;
    margin-left: 2px;
}

.logo_div:hover {
    background-color: white;
    border-color: #606060;
}

.logo-text {
    position: relative;
    font-size: larger;
    margin-top: 9px;
    color: black;
    text-decoration: none;
}