.sidebar-container {
    background-color: #EEEEEE;
    width: 25%;
    position: fixed;
    top: 46px;
    left: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 50;
}

.sidebar-header-container, .sidebar-container p {
    text-align: center;
}

.sidebar-container ol {
    margin-top: -20px;
    margin-left: -12px;
    font-size: medium;
}

.sidebar-container a {
    text-decoration: none;
}

.sidebar-container a:link {
    color: #1F1F1F;
}

.sidebar-container a:visited {
    color: #333333;
}

.sidebar-container a:hover {
    text-decoration: underline;
}
