.route_div {
    min-width: 750px;
}

.view_div {
    margin: 40px 100px;
    padding: 10px 0;
    background-color: whitesmoke;
}

h1, h2, h3, h4, p, ul, ol {
    font-family: "Calisto MT", serif;
}

p, ul, ol {
    font-size: large;
}

hr {
    width: 200px;
}