.route_div {
    min-width: 750px;
}

.view_div {
    text-align: center;
    margin: 0 100px;
    padding: 10px 0;
    background-color: whitesmoke;
}

h1, h2, h3, h4, p {
    font-family: "Calisto MT", serif;
}

hr {
    width: 200px;
}